name: CRC Infra Deployment

# This workflow is triggered whenever commits are pushed to the main branch
on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

defaults:
  run:
    shell: bash
    # Define the working directory for all run steps in the workflow
    working-directory: .

jobs:

  deploy_production:
    environment: production
    name: 'Deploy to production'
    runs-on: ubuntu-latest
    
    steps:
    
    - uses: actions/checkout@v2
      name: 'Checkout repository'

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        role-to-assume: arn:aws:iam::198516399747:role/deploy-resume-infra-to-aws
        role-session-name: rolesessionKhadijah
        aws-region: us-east-1

    # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      run: terraform init

    # Checks that all Terraform configuration files adhere to a canonical format
#    - name: Terraform Format
#      run: terraform fmt -check

    # Generates an execution plan for Terraform
#    - name: Terraform Refresh
#      run: terraform refresh -input=false
      
    # Generates an execution plan for Terraform
    - name: Terraform Plan
      run: terraform plan -input=false
    
    - name: Terraform Apply
      run: terraform apply -auto-approve
